/* 
Author: Pavan Teja Yarlagadda
Date: dec 04, 2023
File Name: team.css 
*/

.team {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background-color: #b19999;
}


.grid-item{
    background-color: blanchedalmond;
    border-style: double;
    grid-column: 1/span 2;
    
}

.grid-item p{
    color: #6081ba;
}
.grid-item h2{
    color: rgb(0, 0, 0);
}

header img{
    padding-top: 36px;
}
section h2{
    text-align: center;
	color: yellowgreen;
	-webkit-text-stroke: 1px green;

}

.frame {
	position: relative;
	max-width: 450px;
	margin: 2% auto;
}

.pic-text {
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	color:white;
	width: 86%;
	padding: 20px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}


